/* About Page */

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1130px;
    gap: 2rem;
}

.intro .title {
    display: flex;
    flex-direction: column;
}

.intro .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro .text-block {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    gap: 2rem;
}

.intro .text-block p {
    font-size: 1.2rem;
}

.intro .photo-block {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.intro .photo-block .photo {
    position: relative;
    width: 25rem;
    height: 25rem;
    background-image: url(../../images/Image.png);
    background-size: cover;
}

.speckled-photo {
    .line {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
    }

    .dot {
        position: relative;
        width: 2px;
        height: 2px;
        background-color: var(--gray);
        border-radius: 2px;
        transition: background-color 10s;
    }

    .dots-1, .dots-2, .dots-3 {
        display: flex;
        flex-direction: column;
        width: 64px;
        height: 64px;
        align-items: flex-start;
        justify-content: space-between;
        position: absolute;
    }
    .dots-1 {
        top: 10px;
        right: 20px;
    }

    .dots-2 {
        top: 100px;
        left: 70px;
    }

    .dots-3 {
        bottom: 20px;
        right: 70px;
    }
}

.intro .photo-block .under-photo {
    display: flex;
    width: 12rem;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--gray);
    cursor: default;
    transition: all 0.5s;
}

.intro .photo-block .under-photo .point {
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
    border: 1px solid var(--gray);
    background: var(--purple);
    transition: 0.5s;
}

.intro .photo-block .under-photo span {
    color: var(--white);
    transition: 0.5s;
}

.intro .photo-block .under-photo:hover .point {
    background: var(--gray);
}

.intro .photo-block .under-photo:hover span {
    color: var(--purple);
}

.intro .photo-block .under-photo:active {
    border-color: var(--purple);
}

.intro .main .photo-block .under-photo:hover ~ .speckled-photo .dot {
    background-color: var(--purple);
}

/* Skills */
.skills {
    width: 100%;
    max-width: 1130px;
}

.skills .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.skills .items .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    flex: auto;
}

.skills .items .main {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-self: stretch;
}

.skills .items .main .block {
    display: flex;
    padding: 0.5rem 1rem;
    flex-direction: column;
    gap: 0.5rem;
    flex: auto;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid var(--gray);
    transition: all 0.5s;
    cursor: default;
}

.skills .items .main .block:hover {
    border-color: var(--purple);
    transform: scale(1.05);
}

.skills .items .main .block:active {
    border-color: var(--black);
    transform: scale(0.95) rotateZ(1.7deg);
}

@media (max-width: 1024px) {
    .intro .photo-block {
        .photo {
            width: 20rem;
            height: 20rem;
        }

        .under-photo {
            width: 10rem;

            .point {
                width: 0.8rem;
                height: 0.8rem;
            }

            p {
                font-size: 0.8rem;
            }
        }
    }

    @media (max-width: 768px) {
        .intro .photo-block {
            display: none;
        }
    }
}
